@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="display-4">Welcome to Pet Grooming Software</h2>
    <p>
        Destination Pawfection pet grooming software, built exclusively for today's professional pet groomers.
    </p>
</div>

<div>
    <a asp-controller="pet" asp-action="index" class="nav-link text-dark">View your account</a>
</div>
