@model RegisterViewModel
@{

    IEnumerable<SelectListItem> roleListItems = new SelectList(Model.Roles, "Name", "Name");
}

<h1>Register</h1>

<form asp-controller="account" asp-action="register" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>

    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" asp-items="@roleListItems"></select>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</form>

